<h1>Hello World!!!</h1>
<p>This works!!</p>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;

      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand"><img src="pictures/logo1.jpg" width="50" height="50"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right"> 

<form name="reg">
<fieldset class="navbar-text pull-right" id="contact">
<table><tr><td><label for="username" style="color:white">Username</label>
</td><td><input type="text" name="username" id="username" size="30"/></td>
<td><label for="pass" style="color:white">Password</label></td>
<td><input type="password" name="pass" id="pass" size="30"/></td><td><img src="pictures/logo1.jpg" width="40" height="40"></td></tr></table></fieldset></form>
</p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

<embed src="http://7feeds.com/rssinformer.swf?rssinformer.swf" width="100%" height="100%" id="informer" name="informer" bgcolor="0xc1e0c1" quality="high" wmode="transparent" align="middle" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="http://7feeds.com/rssinformer.swf?version=1.4&title_format=center/_sans/16/0x000000/b/ni/nu&subtitle_text=Powered by&subtitle_format=center/verdana/11/0x000000/b/ni/nu&feed_title_format=left/arial/14/0x339933/b/ni/nu&feed_date_format=left/arial/12/0xC8BDBD/b/ni/nu&feed_copy_format=left/arial/12/0xC8BDBD/b/i/nu&feed_text_format=left/arial/12/0x666666/nb/ni/nu&body_bgcolor=0xc1e0c1&title_bgcolor=0xEFEFEF&subtitle_bgcolor=0xE3E3E3&footer_bgcolor=0xc1e0c1&feed_bgcolor=0xffffff&feed_highlight=0xe0efe0&border_color=0x339933&summary_length=300&scroll_speed=50&item_spacing=12&scroll_buttons=1&num_of_entries=7&pause_time=3000&show_publish_time=1&show_entry_summary=1&show_entry_copyright=0&show_footer=1&use_rounded_corners=1&open_new_window=1&data_url=http://7feeds.com/feed.php&feed_url=http%3A%2F%2Fpipes%2Eyahoo%2Ecom%2Fpipes%2Fpipe%2Erun%3F%5Fid%3Dba1900f88281c0e2dfb9bb9c08bae336%26%5Frender%3Drss&strip_tags=0&footer_powered_format=right/_sans/11/0x666666/nb/ni/nu&footer_feedo_format=left/_sans/11/0x339933/nb/ni/nu&x_size=240&y_size=500&feed_back_color=0xf5faf4&feeds_num_color=0x339933&buttons_onpress_color=0x339933&buttons_rollout_color=0x989898&show_body=1&widget_name=Al%2DMultaqa&used_theme=1&lang1=Loading...&lang2=Powered by"/><div style="text-align:center; font-size:11px;"></div><div style="text-align:center; font-size:11px;"></div>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">

       <img src="pictures/logodone.png" width="180" height="180" align="right"/>

	<h1>Al-Multaqa</h1>
            <p> description</p>
          </div>

	<h4> Today's Date </h4>

          <div class="row-fluid">
            <div class="span4">

              <img src="http://www.htmlforums.com/style1/images/buttons/quote.gif" align="left"/><h2>Heading</h2>
		<p> Time: 4pm by someone</p>

		<div id="images20">
		<img src="http://fc07.deviantart.net/fs70/f/2013/052/e/d/ed47a4ed57744eb070bbd08dbba8704a-d5vp5di.jpg" />
		</div>

              <p>Description </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

              <img src="http://www.htmlforums.com/style1/images/buttons/quote.gif" align="left"/><h2>Heading</h2>
		<p> Time: 4pm by someone</p>
		
		<div id="images20">
		<img src="http://fc07.deviantart.net/fs70/f/2013/052/e/d/ed47a4ed57744eb070bbd08dbba8704a-d5vp5di.jpg" />
		</div>

              <p> Event Description</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

              <img src="http://www.iie.org/~/media/Images/Programs/NYU-Abu-Dhabi/NYUAD-ST-logo.ashx" align="left"/><h2>Heading</h2>
		<p> Time: 4pm by someone</p>

		<div id="images20">
		<img src="http://fc09.deviantart.net/fs70/f/2013/052/5/0/50c7d09f813eeac90dfb1b52cfa03b7c-d5vp6lh.jpg" />
		</div>

              <p>Description</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">


              <img src="http://www.zu.ac.ae/edu2002/zu_logo_small.gif" align="left"/><h2>Heading</h2>
		<p> Time: 4pm by someone</p>

		<div id="images20">
		<img src="http://fc09.deviantart.net/fs70/f/2013/052/5/0/50c7d09f813eeac90dfb1b52cfa03b7c-d5vp6lh.jpg" />
		</div>

              <p>Description</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

             <img src="http://www.htmlforums.com/style1/images/buttons/quote.gif" align="left"/> <h2>Heading</h2>
		<p> Time: 4pm by someone</p>

		<div id="images20">
		<img src="http://fc01.deviantart.net/fs71/f/2013/052/4/5/45220a974db0aa586f045d6a283a9c5b-d5vp6pp.jpg" />
		</div>

              <p>Description</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

              <img src="http://www.htmlforums.com/style1/images/buttons/quote.gif" align="left"/><h2>Heading</h2>
		<p> Time: 4pm by someone</p>

		<div id="images20">
		<img src="http://fc09.deviantart.net/fs70/f/2013/052/5/0/50c7d09f813eeac90dfb1b52cfa03b7c-d5vp6lh.jpg" />
		</div>

              <p>Description</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

<h4> Tomorrow </h4>
<div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>

            </div><!--/span-->
          </div><!--/row-->

        </div><!--/span-->
      </div><!--/row-->


      <hr>


<table border='0' align=center ><tbody>
<tr><td><img src='http://3.bp.blogspot.com/_rKG-ziTSNUQ/TM9g9IUnPEI/AAAAAAAAB_4/vL57WmouxO8/s1600/stay+connected.png'/></td><td>
<a href='http://feeds.feedburner.com/WorldWebSurfers' imageanchor='1' style='margin-left: 1em; margin-right: 1em;' target='_blank'><img border='0' src='http://1.bp.blogspot.com/_rKG-ziTSNUQ/TUioxHuEqUI/AAAAAAAACzw/sDjXq2r-LEo/s1600/connect-rss-feed.png'/></a></td><td>
<a href='https://twitter.com/worldwebsurfers' rel='nofollow' target='_blank'><img alt='Follow Us on Twitter!' src='http://2.bp.blogspot.com/_rKG-ziTSNUQ/TUiowIW-2bI/AAAAAAAACzo/PgDZVQrh7c8/s1600/connect-twitter-follow.png' title='Follow Us on Twitter!'/></a></td><td>
<a href='http://facebook.com/loveworldcor' rel='nofollow' target='_blank'><img alt='Be Our Fan!' src='http://3.bp.blogspot.com/_rKG-ziTSNUQ/TUiowob8qHI/AAAAAAAACzs/Fsw_CkgSTSQ/s1600/connect-facebook-follow.png' title='Be Our Fan'/></a></td></tr>
</tbody></table>
<a href='http://www.wwsurfers.blogspot.com/'><img alt='Best Blogger Tips' src='http://3.bp.blogspot.com/_rKG-ziTSNUQ/TQ5eV0U0EiI/AAAAAAAACik/xo2eFaDbfrE/s1600/best+blogger+tips.png'/></a><a href='http://www.worldwebsurfers.com/'></a>



      <footer>
<p>&copy; Al- Multqa</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
