<h4><u><center>About Yalla!</center></u></h4></br>
<h5>What is Yalla! and what is its purpose ?</h5>
<p>Initiated by your Student Government, Yalla! is an event broadcast web application for student-organized events which are open to the entire NYUAD student community.
  Through Yalla!, the Student Government hopes to provide a single streamlined source for up-to-date information on the events organized by the Student Interest Groups and other student initiatives, and to advance a more convenient way to advertise and monitor attendances and RSVP to such events.</p>

  <h5>Why the name?</h5>
  <p>Yalla! is a word that encapsulates the spirit of this shared student events calendar while also drawing from the familiar day-to-day expression of NYUAD students.</p>

<h5>Who created Yalla! ?</h5>
<p>Lingliang Zhang - Project Lead / Developer (<a href="mailto:lz781@nyu.edu">lz781@nyu.edu</a>)</br>
Clara Bicalho Maia Correia - Project Manager (<a href="mailto:cbm343@nyu.edu">cbm343@nyu.edu</a>)</br>
Luis Morales Nv - Design Director (<a href="mailto:lmn297@nyu.edu">lmn297@nyu.edu</a>)</br>
Mariko Kuroda - Marketing Director (<a href="mailto:mk4099@nyu.edu">mk4099@nyu.edu</a>)</br>
Morgante Pell - Technical Support (<a href="mailto:mp3255@nyu.edu">mp3255@nyu.edu</a>)</p>

<h5>Who has access to Yalla! ? </h5>
<p>Yalla! is a web application developed for students only, thus they are the only ones who have access to it's functionalities.</p>

<h5>Which browsers and devices support Yalla! ? </h5>
<p>Yalla! works with browsers such as Chrome, Mozilla Firefox, Safari, and is designed to be accessed through your computer, tablet, or iPhone or Smartphone.</p>

<h5>Who oversees the events posted on Yalla? </h5>
<p>Events submitted to Yalla! are entirely overseen by the Student Government, who continues to develop and maintain the web application.</p>
</br>
<h4><u><center>Creating and managing an event at Yalla!</center></u></h4></br>

<h5>What is the nature of events submitted to Yalla! ?</h5>
<p>Events added to Yalla! are strictly student-organized events open to the entire student community (i.e. This does not include SIG planning meetings, events organized by different departments at NYUAD, such as Career Development Centre and Athletics).
Examples include: Open Mic, General Assemblies, Hall Council open meetings, movie screenings and discussions, all events organized by SIGs or other student groups.</p>

<h5>Who can add and attend events at Yalla!?</h5>
<p>Only students can add events to Yalla!, as long as the nature of the events is in accordance with the guidelines (see Question "What is the nature of events submitted to Yalla!?"). Events need to be open to the entire NYUAD student community, although attendees may include members outside the aforementioned group.</p>

<h5>How can I add an event to Yalla?</h5>
<p>To add an event to Yalla!, make sure the nature of the event (see question above) complies with the guidelines set. If so, you can submit an event by going to your NYU Google Calendar and clicking “CREATE” on the left side bar. You can add the details of the event and on the right bar, add nyuad.yalla@gmail.com as a guest. Click “SAVE” and the event will shortly appear on the Yalla! website. You can edit or delete the event you submitted through your NYU Google Calendar.</p>

<h5>What happens if I want to edit or cancel an event?</h5>
<p>Only hosts (people who submitted events) can made edits or cancel events. To do so, they can edit or delete the event from their NYU Google Calendar and the system will be automatically updated. When events are edited, attendees will be able to see the changes that were made.</p>

<h5>How can I contact all attendees of a certain event posted on Yalla?</h5>
<p>If you click on the respective event under your calendar (from any device), the students who RSVP-ed will be listed as attendees. You can email them with more event details or reminders about events.</p>
</br>
<h4><u><center>Attending an event at Yalla!</center></u></h4></br>

<h5>How do I RSVP to events posted in Yalla?</h5>
<p>To RSVP to Events in Yalla!, all you have to do is to visit the link (INSERT LINK) and click on "Attend" on the box of the events you want to RSVP to. That event will then be automatically added to your NYU Google Calendar and you will be informed of any changes made to the respective event.</p>
 
<h5>How do I RSVP for an event a second time?</h5>
<p>Unfortunately due to technical limitations regarding ownership of events, Yalla! is unable to RSVP you to an event if you have cancelled that RSVP previously. However, you should have received a notification email from your initial RSVP and from there should be able to indicate that you are attending.</p>

<h5>What happens if I delete an event I RSVP-ed from Yalla! from my personal Google Calendar?</h5>
<p>If you delete an event you had previously RSVP through Yalla! from your personal NYU Google Calendar, your name will be withdrawn from the list of attendees, and you will not be able to RSVP again through Yalla!.</p>

<h5>What happens to Yalla every time an event is added/edited/deleted or has already passed?</h5>
<p>Yalla! updates its events in real time, and it organizes them in chronological order. If an event is added/edited/deleted, the boxes displayed in the web application will be updated and reorganized accordingly.</p>
</br>
<h4><u><center>Additional Features</center></u></h4></br>

<h5>What are hashtags for?</h5>
<p>Hashtags are used to easily identify key words or Student Interest Groups associated with the event. They consist of a single suggestive word, such as #townhall or #musicsociety. Once search bar feature is enabled, students will be able to use hashtags to locate (or hide) certain events.
How do I add an image to the background of the event box?
To add an image to the background of an event box, while you are creating the event on NYU Google Calendar, copy the link of the image (smaller resolution works best) to the description of the event under a separate line.</p>

<h5>How can I see the Yalla! events in a calendar format?</h5>
<p>To view the events at Yalla! on a calendar format, you can visit the link below:
<a href="https://www.google.com/calendar/embed?src=nyuad.yalla%40gmail.com&ctz=Asia/Dubai">Yalla Calendar</a></p>

<h5>How can I access Yalla! more quickly?</h5>
<p>You can bookmark the link to Yalla! in any of the devices you normally use if you wish to have a quicker access to the app.

