<html>
  <html>
    <title>Yalla is Coming</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
  </html>
  <body style="background-image: url(/assets/background.png); font-family: Josefin Sans, sans-serif; background-size: cover; background-position: center; color: white;">
    <div id="main" style="text-align: center;
      margin: auto;
      display: block;
      margin-top: 200px;">
      <h1 style="font-size: 10em; font-weight: 100;">Yalla</h1>
      <h2 style="font-weight: 800; font-size: 5em;">9.3.14</h2>
    </div>
  </body>
</html>
