/* Stylesheet for Al Multaqa 
 * Written by Lingliang Zhang
 */

#main
{
  padding-top: 60px;
}

#overlay{
  position: relative;
  opacity: 0;
  z-index: 500;
  min-width: 600px;
  width: 1px;
  height: 1px;
  display: none;
}

#blackout{
  z-index:600;
  background: rgba(0,0,0,0.5);
  left: -5px;
  top: -5px;
  position:fixed;
  width: 10000px;
  height: 100000px;
}

#prompt{
  position: absolute;
  height: 500px;
  z-index: 700;
  background: #eeeeee;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding:20px 40px;
}
#exit{
  z-index:800;
  position: absolute;
  cursor: pointer;
  right: 30px;
}

.brand
{
  margin-left: 10px !important;
  margin-right: 20px;
}


.box
{
  margin: 5px;
}

.event-btn
{
  width: 27% !important;
}

.see-more {
  float: right;
  width: 35% !important;
}

.event-btn-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.event-container
{
  overflow: hidden;
  background: #eeeeee;
  border-radius: 20px;
  margin-bottom: 15px;
  float: left;
  min-width: 300px;
  max-width: 600px;
  margin: 10px;
}
.event-filter
{
  background: #eeeeee;
  border-radius: 20px;
  margin-bottom: 20px;
  float: left;
}

.event-detail > div
{
  float:left !important;
}
.event-detail > div:first-child
{
  width:10%;
}

.event-detail > div:last-child
{
  width:65%;
}

.event-description
{
  width: auto;
}
.event-filter > .container-fluid
{
  padding: 15px;
}

.event-row
{
  padding-top: 10px
}

.event-container
{
  color: white;
}

.event-title-container
{
  padding-top: 5px;
}

.event-title
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
}

#event-details-container
{
  height: 100% !important;
  width: 100% !important;
}

.event-detail
{
  padding-top: 5px;
  padding-bottom: 5px;
  /*border-bottom: #cccccc solid 1px; */
}

.event-detail .span2
{
  line-height: 40px;
}

.span2 i
{
  vertical-align: middle;
}

.event-detail .span9
{
  height: 30px;
}

.event-detail:first-child
{
  padding-top: 0px;
}

.event-detail:last-child
{
  border-bottom: none;
  padding-bottom: 0px;
}

.event-parameter
{
  padding-left:10px;
  text-align: left;
}

.button-container
{
  padding-top: 25px;
}



.event-description
{
  padding-top: 10px;
  overflow: hidden;
}

.filter1
{
  /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #0DFFEF 0%, #1B1178 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #0DFFEF 0%, #1B1178 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #0DFFEF 0%, #1B1178 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0DFFEF), color-stop(1, #1B1178));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #0DFFEF 0%, #1B1178 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #0DFFEF 0%, #1B1178 100%);
} 

.filter2
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #BE0AFF 0%, #100078 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #BE0AFF 0%, #100078 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #BE0AFF 0%, #100078 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #BE0AFF), color-stop(1, #100078));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #BE0AFF 0%, #100078 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #BE0AFF 0%, #100078 100%);
}

.filter3
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #BF5EFF 0%, #1C089C 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #BF5EFF 0%, #1C089C 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #BF5EFF 0%, #1C089C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #BF5EFF), color-stop(1, #1C089C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #BF5EFF 0%, #1C089C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #BF5EFF 0%, #1C089C 100%);

}

.filter4
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #2C023B 0%, #2BADA9 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #2C023B 0%, #2BADA9 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #2C023B 0%, #2BADA9 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2C023B), color-stop(1, #2BADA9));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #2C023B 0%, #2BADA9 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #2C023B 0%, #2BADA9 100%);
}

.filter5
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FF2483 0%, #1B0896 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FF2483 0%, #1B0896 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FF2483 0%, #1B0896 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF2483), color-stop(1, #1B0896));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FF2483 0%, #1B0896 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FF2483 0%, #1B0896 100%);
}

.filter6
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #658EAD 0%, #230F63 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #658EAD 0%, #230F63 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #658EAD 0%, #230F63 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #658EAD), color-stop(1, #230F63));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #658EAD 0%, #230F63 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #658EAD 0%, #230F63 100%);
}

.filter7
{
/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom left, #001EB8 0%, #09E042 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom left, #001EB8 0%, #09E042 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom left, #001EB8 0%, #09E042 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #001EB8), color-stop(1, #09E042));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom left, #001EB8 0%, #09E042 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top right, #001EB8 0%, #09E042 100%);
} 

.filter8
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #2ED7E3 0%, #10203B 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #2ED7E3 0%, #10203B 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #2ED7E3 0%, #10203B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2ED7E3), color-stop(1, #10203B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #2ED7E3 0%, #10203B 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #2ED7E3 0%, #10203B 100%);
}

.filter9
{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #B445F5 0%, #0F083B 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #B445F5 0%, #0F083B 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #B445F5 0%, #0F083B 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B445F5), color-stop(1, #0F083B));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #B445F5 0%, #0F083B 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #B445F5 0%, #0F083B 100%);
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

#display-image {
  max-height: 40px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
}

#logo {
  max-height: 45px;
  margin: 10px 10px 0px 20px;
}

#add-event {
  width: 100px;
}

#search {
  height: 25px;
  width: 100%;
  margin-top: 8px;
}

.navbar-search {
  margin-left: 10px;
}


.nav-button {
  margin-top: 15px !important;
  margin-left: 10px;
  font-size: 15px;
  line-height: 25px;
  height: 25px;
  width: 60px;
}

#login {
  margin-right: 10px;
  background: #0095F2;
  color: white;
}

#user-name {
  line-height: 40px;
}

.nav-collapse {
  overflow: hidden;
}

#content {
  margin: 0 auto;
}

#attend-btn {
  color: white;
  position:absolute;
  z-index:2;
}

.attend-btn {
  height: 100%;
  width: 100%;
}


#event-details {
  padding: 15px 15px 0px 15px;
}

.detailled-row {
  margin-bottom: 3px;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}

.icon-large-black {
  margin-top: 8px;
  margin-left: 3px;
}

.map-row {
  padding-left: 5px;
}

.detailled-image {
  min-width: 240px;
  min-height: 240px;
  max-width: 240px;
  max-height: 240px;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.detailled-half {
  width: 48% !important;
  float: left !important;
}

.detailled-image-wrap {
  padding-left: 10px !important;
  padding-top: 10px;
}

.detailled-description {
  margin-top: 20px;
}

#success-btn{
  opacity: 0;
  z-index: 1;
  position: absolute;
}

/** Masonry CSS Transitions **/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
