<div class="fluid-container">
  <div class="row-fluid">
    <a href="/assets/intro/intro0.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/intro/intro1.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/intro/intro2.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/intro/intro3.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/intro/intro4.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/intro/intro5.jpg">
  </div>
  <div class="row-fluid">
    <a href="/assets/yalla-info.jpg">
  </div>
</div>

